Broker/Service References/WS_Ref/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WebServiceStub/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts" />
  <xs:element name="PetitionAddUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="value" nillable="true" type="q1:CallRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PetitionAddUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PetitionAddUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMinute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="value" nillable="true" type="q2:CallRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMinuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMinuteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>